
.chatHeader {
  position: relative;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}
#screenMessages{
  background: #b6b6b6;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.username{
  font-size: 1rem;
}
.userphoto{
  width: 40%;
  border-radius: 50%;
}
.post{
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
